#lista{
    float: left;
    width: 400px;
    height: 100px;
    margin: 1em;
}

#dados{
    float: left;
    width: 300px;
    height: 110px;
    margin: 1em;
    border: solid 1px black;
}

#button-close{
    float:left
}